<h2>Login Here</h2>
<p>This is <em>NOT</em> a user registration page</p>
<form method="post" action="/sessions/new">
    <input type=text placeholder="Email" name="email"><br>
    <input type=password placeholder="Password" name="password"></br>
    <input type=submit value="Log in">
</form>