<h2>Login Here</h2>
<p>This is <em>NOT</em> a user registration page</p>
<form method="post" action="/login">
    <input type=text placeholder="Email" name="user[email]"><br>
    <input type=password placeholder="Password" name="user[password]"></br>
    <input type=submit value="Sign up">
</form>