body {
/*	font-family: 'Open Sans', sans-serif;*/
	font-family: 'Roboto', sans-serif;
	background-color: #091f42;
	margin: 0 0;
}

.vote-container > form {
	float: left; 
	padding: 5px;
}

.button {
  border: none;
  color: white;
  padding: 10px;
/*  padding: 10px 20px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
/*  font-size: 12px;*/
}

.button-up {
 	background-color: #4CAF50; /* Green */
}

.button-down {
	background-color: #f44336;
}


.ubercontainer {
	width: 70%;
	height: 100%;
	margin: 0 auto;
	background-color: white;
	padding: 5px 5px; 
	overflow: auto;
/*	border: 5px solid red;
*/}

.comment-block {
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
}

.vote-container {
	width: 200px;
}

.space-across {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

img.avatar{
	width: 100px;
	height: 100px;
}

.avatar-container {
	width: auto;
/*	border: 2px dashed red;*/
}

.space-down {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.space-down p {
	margin-block-start: 0em;
	margin-block-end: 0em;
}

.quick-border {
/*	border: 2px dashed black;*/
	width: 100%
}

.author-info {
	display: flex;
	background-color: #dce2ed;
/*	border: 2px dashed yellow;*/

}

.vote-block {
	background-color: darkgrey;
}

.vote-container {
	display: inline;
}