<h2>Form for user to create a new answer</h2>

The question you are trying to answer is <%=@last_question_id%>

<form method="post" action="/answer/new" id="answer_form">
    <p>Answer title: <input type=text placeholder="Title" name="answer[title]"></p>
    <p>Put any details of your answer down here:</p>
    <p><input type=text placeholder="Content" name="answer[content]"></p>
    <input type="hidden" value=<%= current_user.id %> name="answer[user_id]" />
    <input type=submit value="Submit">
</form>

