<h2> Sign Up Error </h2>
  	<p>That's not valid input for a signup. Please try again.</p>
  	<p>You must have a valid e-mail address</p>
  	<p>You must have a password</p>
  	<p>Did you mean to try and sign in instead?</p>