<h2>Form for user to create a new question</h2>

<form method="post" action="/questions/new">
    <input type=title placeholder="title" name="question[title]"><br>
    <input type=content placeholder="content" name="question[content]"></br>
    <input type=submit value="Sign up">
</form>